.accueil_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liens_filiere{
    position: relative;
    margin: 0;
    width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 760px;
}

.liens_filiere>a{
    text-decoration: none;
    color: white;
}

.filiere_banner_compagnons{
    background-image: url("../images/filiere_banniere_compagnons.png");
    background-size: cover;
    width:1350px;
    height: 219.65px;
    clip-path: polygon(0 0, 100% 0, 98.7% 100%, 1.6% 100%);
}

.filiere_banner_forge{
    background-image: url("../images/filiere_banniere_forge.png");
    background-size: cover;
    width:1350px;
    height: 219.65px;
    clip-path: polygon(0 0, 100% 0, 98.7% 100%, 1.6% 100%);
    position: absolute;
    top: 179.65px;
    z-index: 2;
}

.filiere_banner_rdv{
    background-image: url("../images/filiere_banniere_rdv.png");
    background-size: cover;
    width:1350px;
    height: 219.65px;
    clip-path: polygon(0 0, 100% 0, 98.7% 100%, 1.6% 100%);
    position: absolute;
    top: 359.3px;
    z-index: 3;
}

.filiere_banner_vents{
    background-image: url("../images/filiere_banniere_vents_de_parole.png");
    background-size: cover;
    width:1350px;
    height: 280px;
    clip-path: polygon(0 0, 100% 0, 98.7% 79%, 1.6% 79%);
    position: absolute;
    top: 538.95px;
    z-index: 4;
}

.compagnons_filiere_filter{
    background-color: var(--compagnons-alpha);
    width: 100%;
    height: 100%;
    position: absolute;
}

.forge_filiere_filter{
    background-color: var(--forge-alpha);
    width: 100%;
    height: 100%;
    position: absolute;
}

.rdv_filiere_filter{
    background-color: var(--festival-alpha);
    width: 100%;
    height: 100%;
    position: absolute;
}

.vents_filiere_filter{
    background-color: var(--vents-alpha);
    width: 100%;
    height: 100%;
    position: absolute;
}

.filiere_banner_compagnons_titles_container{
    margin-left: 110px;
    margin-top: 60px;
}

.filiere_banner_forge_titles_container{
    margin-left: 900px;
    margin-top: 90px;
}

.filiere_banner_rdv_titles_container{
    margin-left: 500px;
    margin-top: 50px;
    width: 30%;
}

.filiere_banner_vents_titles_container{
    margin-left: 310px;
    margin-top: 80px;
    width: 40%;
}

.prior_title{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 450;
}

.after_title{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: 450;
}

.filiere_title{
    margin: 0;
    font-size: 28px;
}

/* --- Animations Bannieres filieres --- */

.filiere_banner_compagnons_hover{
    transform: rotate(-1deg) translate(0px, -29px);
    transition: 200ms;
}

.filiere_banner_compagnons_out{
    transform: rotate(0deg) translate(0px, 0px);
    transition: 200ms;
}

.filiere_banner_forge_hover{
    transform: rotate(1deg) translate(0px, -29px);
    transition: 200ms;
}

.filiere_banner_forge_out{
    transform: rotate(0deg) translate(0px, 0px);
    transition: 200ms;
}

.filiere_banner_rdv_hover{
    transform: rotate(-1deg) translate(0px, -29px);
    transition: 200ms;
}

.filiere_banner_rdv_out{
    transform: rotate(0deg) translate(0px, 0px);
    transition: 200ms;
}

.filiere_banner_vents_hover{
    transform: rotate(1deg) translate(0px, -29px);
    clip-path: polygon(0 0, 100% 0, 98.7% 85%, 1.6% 93%);
    transition: 200ms;
}

.filiere_banner_vents_out{
    transform: rotate(0deg) translate(0px, 0px);
    clip-path: polygon(0 0, 100% 0, 98.7% 79%, 1.6% 79%);
    transition: 200ms;
}

.compagnons_filiere_filter_hover{
    opacity: 0;
    transition: opacity 0.2s linear;
}

.compagnons_filiere_filter_out{
    opacity: 1;
    transition: opacity 0.2s linear;
}

.forge_filiere_filter_hover{
    opacity: 0;
    transition: opacity 0.2s linear;
}

.forge_filiere_filter_out{
    opacity: 1;
    transition: opacity 0.2s linear;
}

.rdv_filiere_filter_hover{
    opacity: 0;
    transition: opacity 0.2s linear;
}

.rdv_filiere_filter_out{
    opacity: 1;
    transition: opacity 0.2s linear;
}

.vents_filiere_filter_hover{
    opacity: 0;
    transition: opacity 0.2s linear;
}

.vents_filiere_filter_out{
    opacity: 1;
    transition: opacity 0.2s linear;
}

/* ------------------------------------------------- */

/* --- Bannieres liens ---*/

.liens_baniere{
    width: 100%;
}

.link_banner_compagnons{
    background-color: var(--compagnons);
    color: white;
    text-decoration: none;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_banner_titles_container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link_banner_titles_container>.prior_title{
    margin-top: 0;
}

.link_banner_forge{
    background-color: var(--forge);
    color: white;
    text-decoration: none;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_banner_rdv{
    background-color: var(--festival);
    color: white;
    text-decoration: none;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_banner_vents{
    background-color: var(--vents);
    color: white;
    text-decoration: none;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SECTION PROGRAMMATION*/

.accueil_programmation{
    width: 100vw;
    height: fit-content;
    position: relative;
    background-color: white;
    padding: 20px 0;
    box-sizing: border-box;
}

.accueil_programmation_titre{
    background-color: black;
    padding: 16px 8px;
    color: white;
    width: fit-content;
    margin: 0 20px;
}

.accueil_programmation_container{
    padding: 20px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
}

.accueil_programmation_container::-webkit-scrollbar{
    display: none;
}

.accueil_programmation_links-container{
    width: 100%;
    height: 175px;
    position: relative;
    margin-top: -20px;
}

.accueil_programmation_link--billeterie img{
    position: absolute;
    top: -20px;
    left: -10px;
    transition: 0.3s;
}

.btn-ticket--animated{
    animation: boucingEffect 900ms ease 0s 1 normal forwards;
}

@keyframes boucingEffect {
	0%,
	100% {
		transform: rotate(0);
		transform-origin: 50% 50%;
	}

	50% {
		transform: rotate(6deg);
	}

	75% {
		transform: rotate(-6deg);
	}

	90% {
		transform: rotate(3.6deg);
	}

	95% {
		transform: rotate(2.4deg);
	}

	99% {
		transform: rotate(-1.2deg);
	}
}

.accueil_programmation_link--programmation{
    text-decoration: none;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: black;
    padding: 10px 12px;
    height: fit-content;
}

.accueil_programmation_link--programmation_btn{
    background-color: black;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
    height:fit-content;
    width: fit-content;
}

.accueil_programmation_link--programmation_btn .texte{
    font-family: 'Montserrat', sans-serif;
}

.accueil_programmation_link--programmation_btn span{
    color: white;
    font-size: 16px;
    font-weight: 600;
}




/*SECTION VIDÉO*/

.accueil_video{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0 0;
}

.accueil_video_banner{
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.accueil_video_banner h4{
    text-align: right;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.accueil_video_banner p{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.accueil_video_container{
    width: 100%;
}

/*SECTION CARROUSEL*/

.accueil_carrousel{
    width: 100vw;
    margin: 20px 0;
}

.accueil_carrousel_titre{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--festival);
    color: white;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.accueil_carrousel_container{
    width: 100%;
}


@media screen  and (min-width: 600px){
    .prior_title{
        font-size: 20px;
        font-weight: 450;
    }
    
    .after_title{
        font-size: 16px;
        font-weight: 450;
    }
    
    .filiere_title{
        font-size: 32px;
    }

    .accueil_video{
        background-color: black;
        margin: 0;
        padding: 20px 0;
    }

    .accueil_carrousel{
        width: 100vw;
        margin: 0;
        padding: 20px 0 40px 0;
        background-color: var(--festival);
    }
    
    .accueil_programmation_container{
        width: 540px;
        margin: 0 auto;
    }

    .accueil_programmation_links-container{
        width: 500px;
        margin: 0 auto;
    }
}

@media screen  and (min-width: 1200px){

    .accueil_main{
        background-color: white;
        padding-top: 65px;
    }

    .accueil{
        padding-top: 30px;
        background-color: white;
        display: grid;
        grid-template-columns: 700px 500px;
        grid-template-rows: 970px 800px;
    }

    .accueil_programmation{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: block;
        width: 700px;
        height: 600px;
        position: relative;
    }

    .accueil_programmation_titre{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .accueil_programmation_container{
        width: fit-content;
        position: absolute;
        top: 130px;
        left: 40px;
    }

    .accueil_programmation_links-container{
        width: 700px;
        height: 142px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .accueil_programmation_link--billeterie{
        position: absolute;
        top:20px;
        left:120px;
    }

    .btn-ticket:hover, .btn-ticket:focus{
        animation: boucingEffect 900ms ease 0s 1 normal forwards;
    }

    .accueil_programmation_link--programmation{
        position: absolute;
        top: 50px;
        right: 50px;
        height: fit-content;
        padding: 12px 16px;
        height: 48px;
        width: 215px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accueil_programmation_link--programmation_btn:hover{
        cursor: pointer;
    }
    
    .accueil_programmation_link--programmation_btn::before{
        content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
    }
    
    .accueil_programmation_link--programmation_btn:hover::before, .accueil_programmation_link--programmation_btn:focus::before{
        cursor: pointer;
        transform-origin: left;
        transform: scaleX(1);
    }

    .accueil_video{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: block;
        background-color: white;
        width: 500px;
        height: 950px;
        position: relative;
        padding: 0;
    }

    .accueil_video_banner{
        width: fit-content;
        height: fit-content;
        padding: 16px;
        position: absolute;
        bottom: 290px;
        right: 20px;
    }

    .accueil_video_container{
        width: 500px;
        position: absolute;
        bottom: 20px;
        right: 40px;
    }

    .accueil_carrousel{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 100vw;
        justify-self: center;
    }

    .accueil_carrousel_titre{
        font-family: "Homemade Apple", sans-serif;
        font-size: 28px;
        font-weight: normal;
    }

    .accueil_carrousel_container{
        width: 800px;
        margin: 0 auto;
    }

    /*--------------CARTES DESKTOP ACCUEIL-----------------------*/

    .accueil .carte{
        min-width: 200px;
        height: 300px;
        position: relative;
        scroll-snap-align: start;
        box-sizing: border-box;
        
    }
    
    .accueil .carte_infos{
        width: 200px;
        height: 240px;
        position: absolute;
        top:0;
        left: 0;
        z-index: 5;
        box-sizing: border-box;
    }
    
    .carte_infos_date{
        width: fit-content;
        height: fit-content;
        background-color: black;
        padding: 5px 10px;
        z-index: 10;
        position: relative;
        box-sizing: border-box;
    }
    
    .carte_infos_date p, .carte_infos_date span{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin: 0;
        box-sizing: border-box;
    }
    
    .accueil .carte_infos_date_jour-semaine{
        font-size: 14px;
    }
    
    .accueil .carte_infos_date_jour, .accueil .carte_infos_date_mois{
        font-size: 16px;
    }
    
    .accueil .carte_infos_hover{
        background-color: rgba(0, 0, 0, 0.75);
        position: relative;
        padding: 70px 20px;
        height: 240px;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        transition: 0.3s;
        z-index: 5;
        box-sizing: border-box;
    }
    
    .accueil .carte_infos_hover_lieu, .accueil .carte_infos_hover_heure-prix{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        transition: 0.3s;
        margin: 0;
    }
    
    .accueil .carte_infos_hover_desc{
        display: none;
    }
    
    .accueil .carte_infos_hover_link{
        text-decoration: none;
        padding: 6px;
        margin: 0;
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: white;
        transition: 0.3s;
        box-sizing: border-box;
    }
    
    .accueil .carte_infos_hover_link_button{
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        transition: 0.3s;
        position: relative;
        width: fit-content;
        gap: 6px
    }
    
    .accueil .carte_infos_hover_link_button span{
        color: black;
        font-size: 14px;
        font-weight: 600;
    }
    
    .btn_texte{
        font-family: "Montserrat", sans-serif;
    }
    
    .carte_infos_hover_link_button:hover{
        cursor: pointer;
    }
    
    .carte_infos_hover_link_button::before{
        content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: black;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
    }
    
    .carte_infos_hover_link_button:hover::before, .carte_infos_hover_link_button:focus::before{
        cursor: pointer;
        transform-origin: left;
        transform: scaleX(1);
    }
    
    .carte:hover .carte_infos_hover{
        display: block;
    }
    
    .accueil .carte_infos_titres{
        width: 200px;
        height: 50px;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
        box-sizing: border-box;
    }

    
    .accueil .carte_infos_titres_titre{
        font-size: 14px;
        font-weight: 600;
        margin-top: 0;
        padding: 6px;
        box-sizing: border-box;
    }
    
    .accueil .carte_infos_titres_artiste{
        display: none;
    }
    
    .accueil .carte_img-container{
        width: 200px;
        height: 240px;
        position: absolute;
        top:0;
        left: 0;
        z-index: 0;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .accueil .carte_img-container img{
        min-height: 240px;
        min-width: 200px;
        max-height: 300px;
        max-width: 300px;
        box-sizing: border-box;
    }

}

@media screen  and (min-width: 1400px){
    .accueil_main{
        margin-top: 300px;
        background-color: transparent;
    }

    .liens_filiere{
        display: flex;
    }

    .prior_title{
        font-size: 22px;
        font-weight: 450;
    }
    
    .after_title{
        font-size: 16px;
        font-weight: 450;
    }
    
    .filiere_title{
        font-size: 36px;
    }

    .liens_baniere{
        display: none;
    }

    .accueil{
        background-color: white;
        width: 1312px;
        padding: 40px 56px 0px 56px;
        box-sizing: border-box;
    }

    .accueil_carrousel{
        width: 1312px;
    }
}


