.carte_tags-container{
    display: none;
}

#alerte, #noEvent{
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.accueil_programmation_container{
    width: 340px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    box-sizing: border-box;
}

.carte{
    min-width: 300px;
    height: 450px;
    position: relative;
    scroll-snap-align: start;
    box-sizing: border-box;
    
}

.carte_infos{
    width: 300px;
    height: 365px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
}

.carte_infos_date{
    width: fit-content;
    height: fit-content;
    background-color: black;
    padding: 5px 10px;
    z-index: 10;
    position: relative;
    box-sizing: border-box;
}

.carte_infos_date p, .carte_infos_date span{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
    box-sizing: border-box;
}

.carte_infos_date_jour-semaine{
    font-size: 16px;
}

.carte_infos_date_jour, .carte_infos_date_mois{
    font-size: 24px;
}

.carte_infos_hover{
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    padding: 70px 20px;
    height: 365px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: 0.3s;
    z-index: 5;
    box-sizing: border-box;
}

.carte_infos_hover_lieu, .carte_infos_hover_heure-prix{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s
}

.carte_infos_hover_desc{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s
}

.carte_infos_hover_link{
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    transition: 0.3s;
    box-sizing: border-box;
}

.carte_infos_hover_link_button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: relative;
    width: fit-content;
    gap: 6px
}

.carte_infos_hover_link_button span{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.btn_texte{
    font-family: "Montserrat", sans-serif;
}

.carte_infos_hover_link_button:hover{
    cursor: pointer;
}

.carte_infos_hover_link_button::before{
    content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
}

.carte_infos_hover_link_button:hover::before, .carte_infos_hover_link_button:focus::before{
    cursor: pointer;
    transform-origin: left;
    transform: scaleX(1);
}

.carte:hover .carte_infos_hover{
    display: block;
}

.carte_infos_titres{
    width: 300px;
    height: 75px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
}

.carte_infos_titres p{
    color: white;
    font-family: "Montserrat", sans-serif; 
    margin: 0;
    padding: 0;
}

.carte_infos_titres_titre{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 16px;
    box-sizing: border-box;
}

.carte_infos_titres_artiste{
    font-size: 16px;
    font-weight: 400;
}

.carte_img-container{
    width: 300px;
    height: 365px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.carte_img-container img{
    min-height: 365px;
    min-width: 300px;
    max-height: 450px;
    max-width: 450px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .accueil_programmation_container{
        width: 550px;
    }
}

@media screen and (min-width: 1200px) {
    .accueil_programmation_container{
        width: fit-content;
    }
    
}
